<div id="select-box">
    <section class="select">

        <h3><%= data.title %></h3>

        <ul>

            <% data.anwsers.forEach(function(a, i){ %>
            <li data-value="<%= a %>" data-index="<%= i %>"><%= i + 1 %>.<%= a %></li>
            <% }) %>

        </ul>

    </section>
</div>
<p class="op">
    <button id="selectSubmit">确定</button>
</p>